* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    height: 100vh;
    color: #ffffff;
    background-color: hsl(0, 0%, 11%);
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    height: 300px;
    border: 5px solid hsl(35, 94%, 87%);
    margin: 1rem auto 3rem auto;
    border-radius: 0.2rem;
}

#serverInfo {
    width: 100vw;
    max-width: 768px;
    font-size: 2em;
}

.tableHeading {
    width: 100%;
    height: 40px;
    background-color: hsl(35, 94%, 87%);
    color: #3a3a3a;
    border-radius: 0.2rem;
}

.tableRow {
    height: 70px;
    padding: 0.35rem;
}

.serverInfoLabel,
.serverInfoValue {
    padding-left: 2rem;
    border-radius: 0.2rem;
}

td.serverInfoLabel {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    color: #3a3a3a;
    background-color: hsl(34, 100%, 93%);
    font-weight: 500;
}

td>svg {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

td.serverInfoValue {
    width: 70%;
    height: 70px;
    color: hsl(0, 0%, 100%);
    background-color: hsla(0, 0%, 23%, 0.39);
    font-weight: 300;
}

button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    text-transform: uppercase;
}

button#refreshBtn {
    color: hsl(0, 0%, 100%);
    background-color: hsl(204, 84%, 52%);
    border: none;
    border-radius: 0.2rem;
    padding: 1rem 3rem;
    text-align: center;
}

.twoColRow {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#copyright {
    font-size: 1.5em;
}